.app__specialMenu {
  flex-direction: column;
  background: #30c4a1;
}

.app__specialMenu-title {
  margin-bottom: 2rem;
  text-align: center;
}

.app__specialMenu-menu {
  width: 100%;
  margin: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.app__specialMenu-menu_heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__specialMenu-menu_img {
  width: 410px;
  margin: 0 2rem;
}

.app__specialMenu-menu_img img {
  width: 100%;
  height: auto;
}

.app__specialMenu_menu_items {
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
  width: 100%;
}

@media screen and (min-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 650px;
  }

  .app__specialMenu-menu_img img {
    height: 920px;
  }
}
.service-container {
  background: white;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  border-radius: 5px;
  margin: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.service-container:hover {
  background-color: #dcca87;
  width: 300px;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
}

.service-Description {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.box-flex {
  display: flex;
  flex-direction: column;
  gap: -20px;
}
.box-flex img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-flex h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.service-icon {
  width: 100px;
  height: 30px;
  justify: center;
  position: center;
  margin: 0 auto;
}
.Service-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .app__specialMenu-menu_img {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app__specialMenu-menu_img {
    width: 100%;
  }

  .app__specialMenu-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }
}
